<link rel="stylesheet" href="/assets/aplayer/APlayer.min.css">

<nz-layout [ngStyle]="{'background':'transparent','padding':'15px'}">
  <nz-content [ngStyle]="{'background':'transparent'}">
    <div nz-row>
      <button nz-button><i class="anticon anticon-play-circle-o"></i>正在播放</button>
      <button nz-button><i class="anticon anticon-menu-fold"></i>播放列表</button>
      <button nz-button (click)="stop()"><i class="anticon anticon-search"></i>歌曲搜索</button>
    </div>
    <div nz-row>

      <nz-table #nzTable [nzData]="dataSet" [nzScroll]="{ y: '300px' }" [nzFrontPagination]="'false'">
        <thead>
        <tr>
          <th nzWidth="150px">Name</th>
          <th nzWidth="150px">Age</th>
          <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of nzTable.data">
          <td>{{data.name}}</td>
          <td>{{data.age}}</td>
          <td>{{data.address}}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
    <div nz-row>
      <div id="aplayer"></div>
    </div>


  </nz-content>
  <nz-sider [ngStyle]="{'background':'transparent'}">
    <div nz-row>1</div>
    <div nz-row>2</div>
  </nz-sider>
</nz-layout>
